header {
  display: flex;
  justify-content: space-between;
  background-color: #7c5e99;
  border-bottom: 10px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  color: #fff;
}

img {
  width: 60px;
  height: 60px;
}

a::before {
  content: '';
  background-color: #62c370;
  width: 10px;
  height: 10px;
  margin: 10px;
}

a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin: 30px;
}

nav {
  text-align: right;
}

#button {
  display: inline-block;
  background-color: #62c370;
  box-shadow: 5px 5px 0px #000000;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 18px;
  margin-right: 0;
}

button {
  display: inline-block;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #62c370;
  box-shadow: 5px 5px 0px #000000;
  margin-right: 0;
  width: 170px;
  height: 60px;
  left: 1250px;
  top: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #fff;
  color: #62c370;
}
