header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #7c5e99;
  border-bottom: 10px solid #000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

h1 {
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 5px 5px 0px #000000;
}

img {
  width: 60px;
  height: 60px;
}

a::before {
  content: '';
  background-color: #62c370;
  width: 10px;
  height: 10px;
  margin: 10px;
}

a {
  display: inline-flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-weight: 500;
  text-decoration: none;
  margin: 30px;
}

nav {
  text-align: right;
}

#button {
  display: inline-block;
  background-color: #62c370;
  box-shadow: 5px 5px 0px #000000;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 18px;
  margin-right: 0;
}

button {
  display: inline-block;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background-color: #62c370;
  box-shadow: 5px 5px 0px #000000;
  margin-right: 0;
  width: 170px;
  height: 60px;
  left: 1250px;
  top: 10px;
  cursor: pointer;
  transition: transform 100ms linear;
}

.button:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #62c370;
}

body {
  background-image: url(../assets/img/background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.box {
  position: absolute;
  width: 627px;
  height: 184px;
  left: 36px;
  top: 213px;
  box-shadow: 10px 10px 0px #000000;
  background: #62c370;
}

.box h1 {
  display: flex;
  justify-content: space-around;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 500px;
  color: #7c5e99;
  text-shadow: 4px 4px 0px #000000;
  padding-top: 20px;
}

.box h2 {
  display: flex;
  justify-content: space-around;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 500px;
  color: #fff;
  text-shadow: 4px 4px 0px #000000;
  padding-top: 20px;
}

.button_section {
  position: absolute;
  width: 170px;
  height: 60px;
  left: 126px;
  top: 435px;
  transition: transform 100ms linear;
}

.button_section:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #62c370;
}

.button_section_two {
  position: absolute;
  width: 170px;
  height: 60px;
  left: 408px;
  top: 435px;
  transition: transform 100ms linear;
}

.button_section_two:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #62c370;
}
