.exemplo {
  color: white;
  text-align: justify;
}

.exemplo_item {
  display: inline-block;
  width: 25%;
  height: 150px;
}

.exemplo1 {
  background-color: blue;
}

.exemplo2 {
  background-color: red;
}

.exemplo3 {
  background-color: orange;
}

.exemplo::after {
  content: '';
  display: inline-block;
  width: 100%;
}
