.main-title {
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  color: #fff;
  text-shadow: 5px 5px 0px #000000;
}

.main_title._second {
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #fff;
  text-shadow: none;
  text-align: center;
}
