.banner_two {
  background-color: #62c370;
  border: 10px solid #7c5e99;
}

.banner_two .title {
  color: #fff;
  text-align: center;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  padding: 30px;
}

.banner_two .box_skills {
  color: #fff;
  font-family: 'Fira Code', Arial, Helvetica, sans-serif;
  padding: 30px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.banner_two .html {
  /* border: orangered 20px solid; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 38px;
}

.banner_two .css {
  /* border: blue 20px solid; */
  width: 430px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
}

.banner_two .javascript {
  /* border: gold 20px solid; */
  width: 430px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
}

.banner_two .react {
  /* border: purple 20px solid; */
  width: 430px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
}

.banner_two .nodejs {
  /* border: orangered 20px solid; */
  width: 430px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
}

.banner_two .tdd {
  /* border: blue 20px solid; */
  width: 430px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
}

.banner_two .rest_api {
  /* border: gold 20px solid; */
  width: 430px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
}

.banner_two .ux {
  /* border: purple 20px solid; */
  width: 430px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 40px;
}
